body {
  background: #121212;
  font-family: Arial;
}

.container {
  width: 400px;
  margin: 100px auto;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  background: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #45a049;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #333;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

li span {
  cursor: pointer;
}

.done span {
  text-decoration: line-through;
  color: gray;
}